* {
	padding: 0;
	margin: 0;
}
body {
	background: #000 url(../image/yozora02.gif);
}
div#contents {
	margin: auto;
	padding: 1em;
	background-color: #fff;
	width: 640px;
}

/* HEADER */
div#header {
	margin-bottom: 2em;
}

/* MAIN CONTENTS */
div#contents dl dt {
	font-weight: bolder;
}
div#contents ul li,
div#contents dl dd {
	margin-left: 2em;
}
div#contents dl dd ul,
div#contents dl dd ul li {
	margin-left: 0em;
}
div#contents dl dd ul li {
	display: inline;
}
div#contents h3 {
	color: #3082af;
}
div#contents h3, div#contents dl dt {
	margin-top: 1em;
}

div#contents h3:first-child,
div#contents dl dt:first-child {
	margin-top: 0;
}
div#contents p, 
div#contents dl,
div#contents ul {
	margin-left: 1em;
	margin-bottom: 1em;
}

/* SIDEBAR */
div#sidebar {
	float: right;
	width: 200px;
	margin-left: 14px;
	padding-left: 14px;
	border-left: 2px dashed #3082af;
}

/* TWITTER GADGET */
div#twtr-profile-widget div {
}

/* FOOTER */
div#footer {
	clear: both;
}
